* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}


.container {
    height: auto;
    display: flex;

    /*
        os pozioma w prawo, row-reverse os pozioma w lewo,
        natomiast w markupie beda caly czas takie same
    */
    flex-direction: column-reverse;

    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.container > div {
    width: 6rem;
    min-height: 8rem;
    /*width: 120px;*/
    /*min-width: 120px*/
}

.box1 {
    background: aqua;
}

.box2 {
    background: aliceblue;
}

.box3 {
    background: aquamarine;
}

.box4 {
    background: bisque;
}

.box5 {
    background: cadetblue;
}

.box6 {
    background: darkmagenta;
}
